/* Based off of https://stackoverflow.com/a/20457076/320546 */

.square {
    float: left;
    width: 39px;
    text-align: center;
}

.column {
    background-color: lightgreen;
}

.row {
    background-color: lightcoral;
}

.active {
    background-color: lightblue;
}

body {
    margin: 0;
    padding: 0 10px 0 10px;
    height: 100%;
    overflow-y: auto;
}

#content {
    margin: 113px 0px 0px 150px;
    display: block;
    padding: 10px;
}

#header {
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 112px;
    position: fixed;
    background-color: #ffffff;
    border: 1px solid #888;
}

#navigation {
    display: block;
    top: 113px;
    left: 0px;
    width: 160px;
    height: 100%;
    position: fixed;
    border: 1px solid #888;
    padding: 2px;
}