/* Based off of https://stackoverflow.com/a/20457076/320546 */

.square {
    float: left;
    width: 39px;
    text-align: center;
}

.column {
    background-color: lightgreen;
}

.row {
    background-color: lightcoral;
}

.active {
    background-color: lightblue;
}